<h1>Search Results For <%= @zipcode %></h1>
<% @stations.each do |station| %>
  <ul>
    <li>Name: <%= station.name %></li>
    <li>Address: <%= station.address %></li>
    <li>Fuel Types: <%= station.fuel_types %></li>
    <li>Access Times: <%= station.access_times %></li>
  </ul>
<% end %>
